[data-unread-mark="1"] {
  position: relative;
}

[data-unread-mark="1"]::before {
  content: "";
  position: absolute;
  left: -1px;
  top: 0;
  bottom: 0;
  width: 4px;
  border-radius: 9999px;
  background-color: #f97316;
}

[data-libra-plus-post-list-sort="1"] {
  .breadcrumbs {
    min-width: 28px;
    flex-grow: 1;
    flex-basis: 28px;
    margin-right: 1rem;
  }

  [data-libra-plus-sort] {
    min-width: 28px;
    flex-grow: 1;
    flex-basis: 28px;
    margin-left: 1rem;
    display: flex;
    justify-content: flex-end;

    > div {
      min-width: 11rem;
      top: 22px;
    }
  }
}

.libra-plus-reward-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.25rem;
  margin-bottom: 0.5rem;

  .libra-plus-reward-btn {
    cursor: pointer;
    text-align: center;
    font-size: 10px;
    line-height: 1rem;
    border: 1px solid rgba(var(--su, 34 197 94), 0.5);
    border-radius: 0.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    user-select: none;
    transition:
      background-color 0.2s,
      color 0.2s;
    color: inherit;

    &:hover {
      background-color: rgb(var(--su, 34 197 94));
      color: white;
      border-color: rgb(var(--su, 34 197 94));
    }
  }
}

.libra-plus-reward-confirm-btn {
  margin-top: 3.5rem;
}

@media (max-width: 480px) {
  [data-libra-plus-post-list-sort="1"] {
    .breadcrumbs {
      ul {
        display: none;
      }
    }
  }
}
